#-----------------------------------------------------------------------------------------------
# AWS deployment
#------------------------------------------------------------------------------------------------
access_key = "xxx"
secret_key = "xxx"
#-----------------------------------------------------------------------------------------------
# GCP deployment
#------------------------------------------------------------------------------------------------
project   = "project-name"
gcp_token = "xxx"
#-----------------------------------------------------------------------------------------------
# Azure deployment
#------------------------------------------------------------------------------------------------
subscription_id = "xxx-xxx-xxx"
client_id       = "xxx-xxx-xxx"
client_secret   = "xxx"
tenant_id       = "xxx-xxx-xxx"
#-----------------------------------------------------------------------------------------------
# SaaS APPP deployment
#------------------------------------------------------------------------------------------------
# Change to your own Github token for deployment with Terraform
github_token = "ghp_xxx"
# Change to your own Github token for deployment with Terraform
forticnp_token = "xxx"